[checking]
anchors=1
checkhtml=1
checkcss=1

[filtering]
ignore=
 https://groups.google.com/forum
 http://maidsafe.net/maidsafe-examples/fonts
 http://maidsafe.net/maidsafe-examples/de/fonts
 http://maidsafe.net/maidsafe-examples/en/fonts
 http://maidsafe.net/maidsafe-examples/fr/fonts
 ^mailto:
ignorewarnings=http-robots-denied, mail-no-mx-host
